/* http://www.fontspace.com/westral-fonts/nintender */

@font-face {
    font-family: 'nintender';
    src: url('../font/nintender.ttf') format('truetype');
}

body{
    font-family: 'nintender';
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 24px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    background-color: #000000;
}

#formArea, #playContainer, #messagingContainer{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#formArea{
    height: 10%;
}

#playContainer{
    height: 30%;
    text-align: center;
}

.playArea{
    width: 25%;
    height: auto;
    border: 5px solid #ffffff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.score{
    margin-top: auto;
}

#playerOneAvatar, #playerTwoAvatar{
    margin-top: auto;
    height: 70%;
    display: none;
}

#playerOneAvatar img, #playerTwoAvatar img{
    height: 100%;
    width: auto;
}

#results{
    margin: auto;
}
 
#messagingContainer{
    display: flex;
    height: 25%;
}

#messagingForm{
    width: 70%;
}


#messagingWindow{
    width: 100%;
    height: 80%;
    border: 5px solid #ffffff;
    overflow: auto;
}


#messagingInput{
    width: 80%;
}

#tauntBtn{
    width: auto;
}

input, button{
    font-family: 'nintender';
    letter-spacing: 1px;
    font-size: 24px; 
}

button{
    border: 5px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

#shade{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #9292ff;
    opacity: .6;
    display: none;
}

#avatars{
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    position: absolute;
    background-color: #2038ec;
    width: 50%;
    height: 50%;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    display: none;
}

#images{
    margin: auto;
}

.avatarImg{
    margin: .5vw;
    width: 6vw;
    height: auto;
    cursor: pointer;
}